# Ignore submodule changes due to build files
git update-index --assume-unchanged external/tracy/*
git update-index --assume-unchanged external/glfw/*


# Ignore build files in glew submodule
glew/ALL_BUILD.vcxproj
glew/ALL_BUILD.vcxproj.filters
glew/GLEW.vcxproj
glew/GLEW.vcxproj.filters
glew/INSTALL.vcxproj
glew/INSTALL.vcxproj.filters

#ignore Tracy
tracy/

# Ignore Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore IntelliSense files
*.ipch

# Ignore build artifacts
ALL_BUILD.vcxproj
ZERO_CHECK.vcxproj
radiance-cascades.vcxproj
radiance-cascades.dir/
x64/
*.vxproj
*.vcxproj.user
*.vxproj.filters
/build
/CMakeCache.txt
/CMakeFiles/
*.sln
*.cmake

# Ignore Rider-specific files
.idea/
cmake-build-debug/
cmake-build-release/

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib
*.o
*.a
*.lib
*.pdb

# Ignore logs and temp files
*.log
*.tmp

# Ignore generated comp shader files
generated/ 