[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
	ignore = all
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	ignore = all
